
@media only screen and  (min-width:1700px) and  (max-width:2000px){
.sec-3 .image{
margin-top: -23px; 
margin-left: 290px;
width: 550px;
}
 
}
@media only screen and  (min-width:1500px) and  (max-width:1700px){
.sec-3 .image{
margin-top: -23px; 
margin-left: 190px;
width: 550px;
}
}
@media only screen and  (min-width:1400px) and  (max-width:1500px){
 .sec-3{
background-color: rgb(205, 203, 203);
height: 305px;
  
}
 .p-about{
    margin-top: 20px;
}
 
.sec-3 .image{
margin-top: -23px; 
margin-left: 230px;
width: 455px;
}
}

@media only screen and  (min-width:1200px) and  (max-width:1400px){
 .sec-3{
background-color: rgb(205, 203, 203);
height: 305px;
  
}
 .p-about{
    margin-top: 20px;
}
 
.sec-3 .image{
margin-top: -23px; 
margin-left: 130px;
width: 455px;
}
}

@media only screen and  (min-width:1095px) and  (max-width:1200px){
 .sec-3{
background-color: rgb(205, 203, 203);
height: 305px;
  
}
 .p-about{
    margin-top: 20px;
}
 
.sec-3 .image{
margin-top: -23px; 
margin-left: 80px;
width: 455px;
}
}

@media only screen and  (min-width:1053px) and  (max-width:1095px){
 .sec-3{
background-color: rgb(205, 203, 203);
height: 305px;
  
}
 .p-about{
    margin-top: 20px;
}
 
.sec-3 .image{
margin-top: -23px; 
margin-left: 60px;
width: 455px;
}
}

@media only screen and  (min-width:1000px) and  (max-width:1053px){
 .sec-3{
background-color: rgb(205, 203, 203);
height: 305px;
  
}
 .p-about{
    margin-top: 20px;
}
 .seccontact iframe{
    margin-left: -120px;
}
.sec-3 .image{
margin-top: -23px; 
margin-left: 28px;
width: 455px;
}
}

@media only screen and  (min-width:992px) and  (max-width:1000px){
  
.sec-3 .image{
margin-top: -18px; 
margin-left: 28px;
width: 455px;
}
.seccontact iframe{
    margin-left: -150px;
}
.p-about{
    margin-top: 15px;
}
.sec-3{
background-color: rgb(205, 203, 203);
height: 310px;
}
.footer .footer-panel3 .cont2 span{
font-size: 16px;
}
.sec-7 .card-1-1{
    margin-top: 10px;
    margin-left: 180px;
}
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 350px;
}
}


@media only screen and  (min-width:940px) and  (max-width:992px){
  
.sec-3 .image{
margin-top: 25px; 
margin-left: 28px;
width: 550px;
}
.seccontact iframe{
    margin-left: -150px;
}
.abouttext{
    margin-top: -10px;
}
.p-about{
    margin-top: -10px;
}
.sec-3{
background-color: rgb(205, 203, 203);
height: 350px;
}
.footer .footer-panel3 .cont2 span{
font-size: 16px;
}
 
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 200px;
}
}


@media only screen and  (min-width:900px) and  (max-width:940px){
  
.sec-3 .image{
 display: none;
}
.seccontact iframe{
    margin-left: -120px;
    width: 460px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 350px;
}
.footer .footer-panel3 .cont2 span{
font-size: 16px;
}
 
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 200px;
}
}
@media only screen and  (min-width:850px) and  (max-width:900px){
  
.sec-3 .image{
 display: none;
}
.seccontact iframe{
    margin-left: -120px;
    width: 460px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 350px;
}
.footer .footer-panel3 .cont2 span{
font-size: 16px;
}
 
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 200px;
}
}

 @media only screen and  (min-width:800px) and  (max-width:850px){
  
.sec-3 .image{
 display: none;
}
.seccontact iframe{
    margin-left: -120px;
    width: 460px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 350px;
}
.footer .footer-panel3 .cont2 span{
font-size: 16px;
}
 .footer .footer-panel1{
    margin-top: 65px;
}
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 200px;
}
 .value{
    border-radius: 8px;
    height: 200px;
    background-color: rgb(235, 233, 233);
  }
}
 

@media only screen and  (min-width:750px) and  (max-width:800px){
    
.sec-3 .image{
 display: none;
}
.p-about{
    margin-top: -10px;
}
.seccontact iframe{
    margin-left: -120px;
    width: 460px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 380px;
}
.footer .footer-panel1{
    margin-top: 65px;
}
.footer .footer-panel3 .cont2 span{
font-size: 16px;
}
 .value h3{
    margin-left: -10px;
 } 
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 150px;
}
}
 



@media only screen and  (min-width:700px) and  (max-width:750px){
    
.sec-3 .image{
  display: none;
}
.p-about{
    margin-top: -10px;
}
.seccontact iframe{
    margin-left: -120px;
    width: 460px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 380px;
}
.footer .footer-panel3 .cont2 span{
font-size: 14px;
}
  
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 150px;
}
}


@media only screen and  (min-width:650px) and  (max-width:700px){
    
.sec-3 .image{
  display: none;
}
.p-about{
    margin-top: -10px;
}
.seccontact iframe{
    margin-left: 60px;
    width: 330px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 380px;
}
.footer .footer-panel3 .cont2 span{
font-size: 13px;
}
  
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left: 150px;
}
}


@media only screen and  (min-width:430px) and  (max-width:500px){
    .part-about{
        background-image: none;
 background-color:#1C398E;
    }
    .part-about2{
    background-color: rgb(244, 242, 242);
    height: 1800px;
}
.navbar-brand img{
 margin-top: -5px;

}
.offcanvas p{
    color: #210867;
}
.navbar-brand h3{
    margin-top: -5px;
 margin-left: -29px;
 color:rgb(255, 145, 0);

}

.navbar-brand p{
  position: absolute;
  font-size: 10px;
  color: #fff;
  left: 110px;
  top: 40px;

}
 .value{
    border-radius: 8px;
    height: 630px;
    background-color: rgb(235, 233, 233);
  }
.sec-3 .image{
  margin-left: -2px;
  margin-top: 5px;
   
}
.p-about{
    margin-top: -10px;
}
.seccontact iframe{
    margin-left: 20px;
    width: 330px;
}
.abouttext{
    margin-top: -6px;
}
 
.sec-3{
background-color: rgb(205, 203, 203);
height: 600px;
}
.footer .footer-panel3 .cont2 span{
font-size: 12px;
}
  
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left:50px;
}
 
.sec-7 .card-2-2{
    margin-top: 10px;
    margin-left:50px;
}
 
.sec-7 .card-1-1{
    margin-top: 10px;
    margin-left:50px;
}
.start{
    margin-left: -2px;
    padding-top: 50px;
    
}
.button 
{
    
    margin-top: 20px;
    margin-left: -2px;
}
.header{
    background-color: #0C0542;
    height: 100px;
 }
 .header-1{
    margin-left: 20px;
    color: #fff;
    padding: 7px;
 }
 .header-1 h5{
    font-size: 12px;
 }
  .header-1 .icon-header{ 
color: orange;
font-size: 15px;
  }
 .header-1 p{
    position: absolute;
    margin-top: -30px;
    font-size: 10px;
 }
 .header-pass .header-1{
    margin-top: 3px;
     margin-left: -5px;
    color: #fff;
    padding: 30px;
   
 }
.header-pass .header-1 p{
    margin-left: -15px;
 }
 .seccontact .colcontact{
    margin-left: 40px;
 }
}



@media only screen and  (min-width:350px) and  (max-width:430px){

    .part-about{
background-image: none;
 background-color:#1C398E;
 height: 400px;
    }
    .part-about2{
    background-color: rgb(244, 242, 242);
    height: 1800px;
}
 .value{
    border-radius: 8px;
    height: 630px;
    background-color: rgb(235, 233, 233);
  }
.sec-3 .image{
  margin-left: -2px;
  margin-top: 5px;
   
}
.offcanvas p{
    color: #210867;
}
.p-about{
    margin-top: -10px;
}
.seccontact iframe{
    margin-left: 7px;
    width: 300px;
}
.abouttext{
    margin-top: -6px;
}
 .navbar-brand img{
 margin-top: -5px;

}

.navbar-brand h3{
    margin-top: -5px;
 margin-left: -29px;
 color:rgb(255, 145, 0);

}

.navbar-brand p{
  position: absolute;
  font-size: 10px;
  left: 110px;
  top: 40px;

}
.sec-3{
background-color: rgb(205, 203, 203);
height: 600px;
}
.footer .footer-panel3 .cont2 span{
font-size: 12px;
}
  
.sec-7 .card-3-3{
    margin-top: 10px;
    margin-left:30px;
}
 
.sec-7 .card-2-2{
    margin-top: 10px;
    margin-left:30px;
}
 
.sec-7 .card-1-1{
    margin-top: 10px;
    margin-left:30px;
}
.start{
    margin-left: -2px;
    padding-top: 50px;
    
}
.button 
{
    
    margin-top: 20px;
    margin-left: -2px;
}
.header{
    background-color: #0C0542;
    height: 100px;
 }
 .header-1{
    margin-left: 20px;
    color: #fff;
    padding: 7px;
 }
 .header-1 h5{
    font-size: 12px;
 }
  .header-1 .icon-header{ 
color: orange;
font-size: 15px;
  }
 .header-1 p{
    position: absolute;
    margin-top: -30px;
    font-size: 10px;
 }
 .header-pass .header-1{
    margin-top: 3px;
     margin-left: -5px;
    color: #fff;
    padding: 30px;
     width: 100px;
   
 }
 .header-ser .header-1{
     
    padding-right: 11px;
 }
.header-pass .header-1 p{
    margin-left: -27px;
 }
 .seccontact .colcontact{
    margin-left: 40px;
 }
}