*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     object-fit: cover;
     
} 
 .sec-1{
    height: 90px;
    background-color:#0C0542;
 }
.navbar-brand img{
 margin-top: -5px;

}

.navbar-brand h3{
 margin-left: -29px;
 color:rgb(255, 145, 0);

}

.navbar-brand p{
  position: absolute;
  font-size: 10px;
  color: #fff;
  left: 100px;
  top: 40px;

}
  
 
.nav-item .nav-link {
    color: #fff;
    font-weight: bold;
    margin-left:20px ;
    margin-top: -9px;
}
.nav-item .nav-link:hover{
color: orange;
}

 .navbar-toggler .fa-bars{
    color: #d26205;
    font-size: 50px;
 }
.call{
    text-decoration: none;
    border: 1px solid orange;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 111, 0);
    margin-right: 20px;
    margin-top: -9px;
}
.sec-2{
    height: 500px;
    background-image: url("image/p20.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.9);    
}
.sec-2 h2{
    font-weight: bolder;
    padding: 10px;
    color: #fff;
}
.sec-2 p{
    color: #fff;
    font-weight: bold;
}
.start{
    margin-left: 130px;
    padding-top: 50px;
    
}
.header{
    background-color: #0C0542;
    height: 90px;
 }
 .header-1{
    margin-left: 40px;
    color: #fff;
    padding: 10px;
 }
 .header-1-1{
    margin-left: 40px;
    color: #fff;
    padding: 10px;
    margin-top: -200px;
 }
  .header-1 .icon-header{ 
color: orange;
  }
 .header-1 p{
    position: absolute;
    margin-top: -30px;
    font-size: 10px;
 }
  .p-about{
    margin-top: 35px;
}
.sec-3{
background-color: rgb(205, 203, 203);
height: 365px;
  
}
.sec-3 .image{
    margin-top: -23px;
    margin-left: 70px;
}
.header-pass{
    background-color: #0C0542;
    height: 100px;
 }
 .header-pass .header-1{
    margin-top: 3px;
     margin-left: 20px;
    color: #fff;
    padding: 25px;
    border-right:1px solid #fff ;
 }

 
.part-about{
    height: 350px;
    background-image: url("image/p20.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
 .sec-4 h2{
        font-family: cursive;
        color: orange;
    }
    .sec-4 p{
        font-weight: bold;
        word-spacing: 3px;
    }

    
.sec-5{
    background-color:rgb(205, 203, 203) ;
    height: 350px;
}
.part-service{
    height: 200px;
    background-image: url("image/p20.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.part-service p{
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
}
.part-service h1{
    color: #d26205;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
}
.part-about p{
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
}
.part-about h1{
    color: #fff;
    padding: 1px;
    border-bottom:5px solid #d26205;
    margin-top: 20px;
    margin-left: 20px;
    width: 220px;
}
.part-1 h5{
    width: 200px;
    border-bottom:2px solid #d26205;
    padding-bottom: 3px;
}
.part-about2{
    background-color: rgb(244, 242, 242);
    height: 600px;
}
 .part-about2 .part-1{
    margin-top: -35px;
}
  .part-about2 .part-1 .icon-part1{
    color: #d26205;
    font-size: 40px;
    
  }
  .part-about2 .part-1 .icon-part{
    color: #d26205;
    font-size: 35px;
    border: 1px solid rgb(2, 2, 47);
    padding: 8px;
    border-radius: 50%;
    background-color: #0C0542;
  }
  .part-about2 .part-1 h5{
    color: #210867;
    font-weight: bolder;
  }
  .value{
    border-radius: 8px;
    height: 180px;
    background-color: rgb(235, 233, 233);
  }
  .value h3{
    width: 100px;
    margin-top: 20px;
    margin-left: 16px;
    color: #0C0542;
    font-weight: bold;
    border-bottom: 3px solid orange;
  }
  .value .value-icon{
    color: #d26205;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 23px;
  }
  .value h6{
    color: #210867;
    font-weight: bolder;
  }

.button 
{
    
    margin-top: 20px;
    margin-left: 130px;
}
.button .btn-1{
     border: none;
    background-color:#d26205;
    color: #fff;
    font-weight: bolder;
    width: 100px;
    padding: 8px;
    text-decoration: none;
}
.button .btn-2{
     border: 1px solid #fff;
    
    color: #fff;
    font-weight: bolder;
    width: 100px;
    padding: 8px;
    text-decoration: none;
}
 
  
 
 .h2-service{
    background-color: #0C0542;
    padding: 20px;
    height: 120px;
    color: orange;
    
 }
 .hood-aboute{
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 100px;

 }
 
  .header-ser{
    background-color: #a2a1a5;
 }
 
  .sec-contact{
    background-color:#1C398E;
  }
   .icon-contact h5{
    font-weight: bolder;
   }
  .icon-contact .icon-con{
    color: #d26205;
    font-size: 30px;
     
  }
  .p-contact{
    margin-left: 20px;
  }
  .sec-contact h2{
    color: #fff;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 15px;
  }
  .sec-contact p{
    color: #fff;
     margin-top: 15px;
    margin-left: 15px;
  }
 
  
 .abouttext{
     font-size: 38px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
 }
  
 .abouttext span{
    color: orange;
     font-size: 38px;
    font-weight: 700;
    }
    

.sec-6 h2{
    font-size: 38px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
}

.sec-6 span{
    color: orange;
}
 
.sec-7 .card{
   background-color:#fff;
    height: 630px;
    color: rgb(5, 7, 86);
    list-style-type: none;
}
 .sec-7 .card{
    width: 18rem;
 }
.sec-7 .card .card-text li{
   
    list-style-type: none;
}
.card-text .fa-circle-info{
    margin-right: 10px;
    margin-top: 13px;
    color: #d26205;
}
 .card-text .fa-medal{
    font-size: 30px;
    color: #d26205;
    margin-top: 18px;
    margin-right: 20px;
 }
 
.sec-7 span{
    color: orange;
}
.sec-7 h2{
   font-size: 38px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
}

.footer{
    color: white;
    height: 500px;
    background-color:#0C0542;

}

.footer .footer-panel1 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer .footer-panel1 .logo img{
    margin-top: 15px;
}
.footer .footer-panel2 .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.footer .footer-panel2 .logo-name h2{
    margin-top: -30px;
}

.footer .footer-panel3 .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color:orange;
}

.footer .footer-panel3 .cont2{
   display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder; 
}
.footer .footer-panel3 .cont2 span{
    margin: 15px;
    font-size: 20px;
    color: #fff;
}
.footer .footer-panel3 .cont2 span:hover{
    
     color: orange;
     cursor: pointer;
}
.footer .footer-panel4 .copyright{
   display: flex;
    justify-content: center;
    align-items: center;
    
}
 
 
.footer .footer-panel4 .copyright p{
    margin-top: 40px;
}

 